* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  flex-direction: column;
  background-image:url(/images/library.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.heading {
  border: 2px solid whitesmoke;
  width: 16rem;
  padding: 2px;
  height: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(41, 36, 36);
}
h1 {
  color: aliceblue;
  margin: 0 auto;
}

.text-area {
  height: 35rem;
  width: 56rem;
  background-color: whitesmoke;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 5px 6px rgba(4, 5, 8, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quotes-container {
  height: 15rem;
  width: 50rem;
   padding: 1em; 
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: rgb(95, 4, 4);
}

.author-rm {
  width: 75%;
  margin: auto;
  font-family: "Kalnia", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  font-size: 1.9rem;
}

.author-rm::before
{
    content: "";
    position: absolute;
    height: .3px;
    width: 123px;
    background-color: black;
    top: 68%;
}

.author-rm::after
{
    content: "";
    position: absolute;
    height: .3px;
    width: 123px;
    background-color: black;
    bottom: 25%;
}


#button {
  height: 40px;
  padding: 5px;
  width: 100px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: darkred;
  color: aliceblue;
}
